In [5]:
import yfinance as yf
dat = yf.Ticker("MSFT")

In [6]:
dat = yf.Ticker("MSFT")
dat.info
dat.calendar
dat.analyst_price_targets
dat.quarterly_income_stmt
dat.history(period='1mo')
dat.option_chain(dat.options[0]).calls

,contractSymbol,lastTradeDate,strike,lastPrice,bid,ask,change,percentChange,volume,openInterest,impliedVolatility,inTheMoney,contractSize,currency
0,MSFT250516C00220000,2025-05-01 13:34:40+00:00,220.0,216.15,217.30,219.75,0.0,0.0,2.0,20,2.542484,True,REGULAR,USD
1,MSFT250516C00225000,2025-05-02 13:51:23+00:00,225.0,210.50,212.90,215.40,0.0,0.0,1.0,10,2.163091,True,REGULAR,USD
2,MSFT250516C00230000,2025-05-05 17:41:54+00:00,230.0,208.55,207.30,210.10,0.0,0.0,1.0,200,2.518070,True,REGULAR,USD
3,MSFT250516C00240000,2025-05-01 13:31:21+00:00,240.0,195.00,197.35,200.65,0.0,0.0,1.0,8,1.861329,True,REGULAR,USD
4,MSFT250516C00245000,2025-04-16 19:50:00+00:00,245.0,126.25,192.80,195.00,0.0,0.0,NaN,1,1.703126,True,REGULAR,USD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,MSFT250516C00540000,2025-05-01 19:54:22+00:00,540.0,0.01,0.00,0.01,0.0,0.0,75.0,445,0.492193,False,REGULAR,USD
94,MSFT250516C00560000,2025-05-09 15:00:51+00:00,560.0,0.01,0.00,0.01,0.0,0.0,1.0,678,0.531255,False,REGULAR,USD
95,MSFT250516C00580000,2025-05-05 13:39:44+00:00,580.0,0.01,0.00,0.01,0.0,0.0,20.0,210,0.609379,False,REGULAR,USD
96,MSFT250516C00600000,2025-05-08 13:44:20+00:00,600.0,0.01,0.00,0.01,0.0,0.0,2.0,1115,0.671878,False,REGULAR,USD
97,MSFT250516C00620000,2025-05-09 19:57:26+00:00,620.0,0.01,0.00,0.01,0.0,0.0,8.0,183,0.734378,False,REGULAR,USD

In [7]:
from data_fetch import get_price
start = '2024-01-01'
end = '2025-01-01'
prices = get_price(['AAPL', 'MSFT'], start, end)
prices

YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  2 of 2 completed

Price            Close                    High                     Low  \
Ticker            AAPL        MSFT        AAPL        MSFT        AAPL
Date
2024-01-02  184.532074  367.380615  187.315366  372.363289  182.792518
2024-01-03  183.150375  367.113159  184.770652  369.748136  182.335262
2024-01-04  180.824356  364.478180  181.997307  369.589635  179.800504
2024-01-05  180.098709  364.290009  181.669281  368.559455  179.094742
2024-01-08  184.452560  371.164703  184.492330  371.669915  180.416793
...                ...         ...         ...         ...         ...
2024-12-24  257.916443  438.450836  257.926411  438.720315  255.009620
2024-12-26  258.735504  437.233276  259.814335  440.057630  257.347047
2024-12-27  255.309296  429.668457  258.415896  434.349074  252.782075
2024-12-30  251.923019  423.979858  253.221595  426.694417  250.474615
2024-12-31  250.144974  420.656525  253.001833  425.876070  249.156056

Price                         Open                Volume
Ticker            MSFT        AAPL        MSFT      AAPL      MSFT
Date
2024-01-02  363.319185  186.033057  370.342474  82488700  25258600
2024-01-03  365.042827  183.120556  365.538123  58414500  23083500
2024-01-04  363.715435  181.062914  367.182505  71983600  20901500
2024-01-05  363.051769  180.903888  365.498531  62303300  20987000
2024-01-08  365.538151  181.003268  365.825401  59144500  23134000
...                ...         ...         ...       ...       ...
2024-12-24  433.321138  255.209412  433.780209  23234700   7164500
2024-12-26  435.756258  257.906429  438.201337  27237100   8194200
2024-12-27  425.496829  257.546826  433.730320  42355300  18117700
2024-12-30  421.055729  251.952985  425.207408  35557500  13158700
2024-12-31  419.818209  252.162760  425.247326  39480700  13246500

[252 rows x 10 columns]

In [8]:
#setting pandas to display floats with 2 decimal places
import pandas as pd

# Set pandas to display floats with 2 decimal places
pd.options.display.float_format = '{:.2f}'.format

In [9]:
prices['Close']

Ticker       AAPL   MSFT
Date
2024-01-02 184.53 367.38
2024-01-03 183.15 367.11
2024-01-04 180.82 364.48
2024-01-05 180.10 364.29
2024-01-08 184.45 371.16
...           ...    ...
2024-12-24 257.92 438.45
2024-12-26 258.74 437.23
2024-12-27 255.31 429.67
2024-12-30 251.92 423.98
2024-12-31 250.14 420.66

[252 rows x 2 columns]

In [10]:
from data_fetch import get_price
from portfolio import Portfolio
from plotter import plot_prices

shares = ['AAPL', 'MSFT']

portfolio = Portfolio()
for symbol in shares:
    portfolio.add_asset(symbol, 1)



start = '2024-01-01'
end = '2025-01-01'

prices_df = get_price(shares, start, end)
prices_close_df = prices_df['Close']

print("Portfolio Value:", portfolio.get_portfolio_value(prices_close_df))
#plot_prices(prices_close_df)

[*********************100%***********************]  2 of 2 completed

cal. Symbol: AAPL, Amount: 1.0
Value for AAPL: 250.1449737548828
cal. Symbol: MSFT, Amount: 1.0
Value for MSFT: 420.6565246582031
Portfolio Value: 670.8014984130859

In [ ]:
#1. getting data from yfinance
# Example usage
from data_fetch import get_price
from portfolio import Portfolio
from plotter import plot_prices

shares = ['AAPL', 'MSFT', 'GOOG', 'AMZN', 'TSLA', 'NVDA', 'NFLX']
portfolio = Portfolio()
for symbol in shares:
    portfolio.add_asset(symbol, 1)




start = '2024-01-01'
end = '2025-01-01'

#prices_df = get_price(shares, start, end)
#prices_df.to_csv('prices.csv', index=True)
# retrieving prices from csv

In [12]:
import pandas as pd
#retrieve data from csv
prices_df = pd.read_csv('prices.csv', parse_dates=True)
prices_df

,Price,Close,Close.1,Close.2,Close.3,Close.4,Close.5,Close.6,High,High.1,...,Open.4,Open.5,Open.6,Volume,Volume.1,Volume.2,Volume.3,Volume.4,Volume.5,Volume.6
0,Ticker,AAPL,AMZN,GOOG,MSFT,NFLX,NVDA,TSLA,AAPL,AMZN,...,NFLX,NVDA,TSLA,AAPL,AMZN,GOOG,MSFT,NFLX,NVDA,TSLA
1,Date,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2024-01-02,184.53207397460938,149.92999267578125,138.902099609375,367.380615234375,468.5,48.14991760253906,248.4199981689453,187.3153662175252,152.3800048828125,...,483.19000244140625,49.22551389912714,250.0800018310547,82488700,47339400,20071900,25258600,5049400,411254000,104654200
3,2024-01-03,183.15037536621094,148.47000122070312,139.69833374023438,367.1131591796875,470.260009765625,47.551143646240234,238.4499969482422,184.77065219734183,151.0500030517578,...,467.32000732421875,47.46717554449256,244.97999572753906,58414500,49425500,18974300,23083500,3443700,320896000,121082600
4,2024-01-04,180.8243408203125,144.57000732421875,137.38926696777344,364.4781799316406,474.6700134277344,47.979984283447266,237.92999267578125,181.99729114451387,147.3800048828125,...,472.9800109863281,47.74906818641796,239.25,71983600,56039800,18253300,20901500,3636500,306535000,102629300
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249,2024-12-24,257.91644287109375,229.0500030517578,197.34518432617188,438.4508361816406,932.1199951171875,140.2071075439453,462.2799987792969,257.92641115938613,229.13999938964844,...,915.0,139.98712655305678,435.8999938964844,23234700,15007500,6809800,7164500,2320300,105157000,59551800
250,2024-12-26,258.7355041503906,227.0500030517578,196.87571716308594,437.2332763671875,924.1400146484375,139.91712951660156,454.1300048828125,259.81433504408284,228.5,...,928.4000244140625,139.68715493157526,465.1600036621094,27237100,16146700,7907900,8194200,2340300,116205600,76366400
251,2024-12-27,255.30929565429688,223.75,193.81918334960938,429.66845703125,907.5499877929688,136.9973907470703,431.6600036621094,258.41589596104086,226.02999877929688,...,916.010009765625,138.53725762424156,449.5199890136719,42355300,27367100,14693000,18117700,3226200,170582600,82666800
252,2024-12-30,251.9230194091797,221.3000030517578,192.47073364257812,423.9798583984375,900.4299926757812,137.47735595703125,417.4100036621094,253.22159473829512,223.0,...,894.510009765625,134.81759702407376,419.3999938964844,35557500,28321200,12209500,13158700,2203000,167734700,64941000
253,2024-12-31,250.1449737548828,219.38999938964844,190.22328186035156,420.6565246582031,891.3200073242188,134.27764892578125,403.8399963378906,253.00183336212825,223.22999572753906,...,901.7999877929688,138.0173106258272,423.7900085449219,39480700,24819700,14355200,13246500,1875900,155659200,76825100

In [ ]:
fil = ['Price', 'Close']
for i,element in enumerate(shares[1:]):
    fil.append('Close'+'.'+str(i+1))
    print(fil)
#filtering the columns to get only the closing prices
prices_close_df = prices_df[fil]
prices_close_df

['Price', 'Close', 'Close.1']
['Price', 'Close', 'Close.1', 'Close.2']
['Price', 'Close', 'Close.1', 'Close.2', 'Close.3']
['Price', 'Close', 'Close.1', 'Close.2', 'Close.3', 'Close.4']
['Price', 'Close', 'Close.1', 'Close.2', 'Close.3', 'Close.4', 'Close.5']
['Price', 'Close', 'Close.1', 'Close.2', 'Close.3', 'Close.4', 'Close.5', 'Close.6']

,Price,Close,Close.1,Close.2,Close.3,Close.4,Close.5,Close.6
0,Ticker,AAPL,AMZN,GOOG,MSFT,NFLX,NVDA,TSLA
1,Date,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2024-01-02,184.53207397460938,149.92999267578125,138.902099609375,367.380615234375,468.5,48.14991760253906,248.4199981689453
3,2024-01-03,183.15037536621094,148.47000122070312,139.69833374023438,367.1131591796875,470.260009765625,47.551143646240234,238.4499969482422
4,2024-01-04,180.8243408203125,144.57000732421875,137.38926696777344,364.4781799316406,474.6700134277344,47.979984283447266,237.92999267578125
...,...,...,...,...,...,...,...,...
249,2024-12-24,257.91644287109375,229.0500030517578,197.34518432617188,438.4508361816406,932.1199951171875,140.2071075439453,462.2799987792969
250,2024-12-26,258.7355041503906,227.0500030517578,196.87571716308594,437.2332763671875,924.1400146484375,139.91712951660156,454.1300048828125
251,2024-12-27,255.30929565429688,223.75,193.81918334960938,429.66845703125,907.5499877929688,136.9973907470703,431.6600036621094
252,2024-12-30,251.9230194091797,221.3000030517578,192.47073364257812,423.9798583984375,900.4299926757812,137.47735595703125,417.4100036621094
253,2024-12-31,250.1449737548828,219.38999938964844,190.22328186035156,420.6565246582031,891.3200073242188,134.27764892578125,403.8399963378906

In [14]:
prices_close_df.columns = ['Date', 'AAPL', 'MSFT', 'GOOG', 'AMZN', 'TSLA', 'NVDA', 'NFLX']
prices_close_df

,Date,AAPL,MSFT,GOOG,AMZN,TSLA,NVDA,NFLX
0,Ticker,AAPL,AMZN,GOOG,MSFT,NFLX,NVDA,TSLA
1,Date,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2024-01-02,184.53207397460938,149.92999267578125,138.902099609375,367.380615234375,468.5,48.14991760253906,248.4199981689453
3,2024-01-03,183.15037536621094,148.47000122070312,139.69833374023438,367.1131591796875,470.260009765625,47.551143646240234,238.4499969482422
4,2024-01-04,180.8243408203125,144.57000732421875,137.38926696777344,364.4781799316406,474.6700134277344,47.979984283447266,237.92999267578125
...,...,...,...,...,...,...,...,...
249,2024-12-24,257.91644287109375,229.0500030517578,197.34518432617188,438.4508361816406,932.1199951171875,140.2071075439453,462.2799987792969
250,2024-12-26,258.7355041503906,227.0500030517578,196.87571716308594,437.2332763671875,924.1400146484375,139.91712951660156,454.1300048828125
251,2024-12-27,255.30929565429688,223.75,193.81918334960938,429.66845703125,907.5499877929688,136.9973907470703,431.6600036621094
252,2024-12-30,251.9230194091797,221.3000030517578,192.47073364257812,423.9798583984375,900.4299926757812,137.47735595703125,417.4100036621094
253,2024-12-31,250.1449737548828,219.38999938964844,190.22328186035156,420.6565246582031,891.3200073242188,134.27764892578125,403.8399963378906

In [15]:
#erase rows 0 and 1
prices_close_df = prices_close_df.drop([0, 1])
prices_close_df

,Date,AAPL,MSFT,GOOG,AMZN,TSLA,NVDA,NFLX
2,2024-01-02,184.53207397460938,149.92999267578125,138.902099609375,367.380615234375,468.5,48.14991760253906,248.4199981689453
3,2024-01-03,183.15037536621094,148.47000122070312,139.69833374023438,367.1131591796875,470.260009765625,47.551143646240234,238.4499969482422
4,2024-01-04,180.8243408203125,144.57000732421875,137.38926696777344,364.4781799316406,474.6700134277344,47.979984283447266,237.92999267578125
5,2024-01-05,180.0987091064453,145.24000549316406,136.74232482910156,364.28997802734375,474.05999755859375,49.07856369018555,237.49000549316406
6,2024-01-08,184.4525604248047,149.10000610351562,139.8675079345703,371.1646728515625,485.0299987792969,52.23337936401367,240.4499969482422
...,...,...,...,...,...,...,...,...
249,2024-12-24,257.91644287109375,229.0500030517578,197.34518432617188,438.4508361816406,932.1199951171875,140.2071075439453,462.2799987792969
250,2024-12-26,258.7355041503906,227.0500030517578,196.87571716308594,437.2332763671875,924.1400146484375,139.91712951660156,454.1300048828125
251,2024-12-27,255.30929565429688,223.75,193.81918334960938,429.66845703125,907.5499877929688,136.9973907470703,431.6600036621094
252,2024-12-30,251.9230194091797,221.3000030517578,192.47073364257812,423.9798583984375,900.4299926757812,137.47735595703125,417.4100036621094
253,2024-12-31,250.1449737548828,219.38999938964844,190.22328186035156,420.6565246582031,891.3200073242188,134.27764892578125,403.8399963378906

In [16]:
prices_close_df.set_index('Date', inplace=True)
prices_close_df

,AAPL,MSFT,GOOG,AMZN,TSLA,NVDA,NFLX
Date,,,,,,,
2024-01-02,184.53207397460938,149.92999267578125,138.902099609375,367.380615234375,468.5,48.14991760253906,248.4199981689453
2024-01-03,183.15037536621094,148.47000122070312,139.69833374023438,367.1131591796875,470.260009765625,47.551143646240234,238.4499969482422
2024-01-04,180.8243408203125,144.57000732421875,137.38926696777344,364.4781799316406,474.6700134277344,47.979984283447266,237.92999267578125
2024-01-05,180.0987091064453,145.24000549316406,136.74232482910156,364.28997802734375,474.05999755859375,49.07856369018555,237.49000549316406
2024-01-08,184.4525604248047,149.10000610351562,139.8675079345703,371.1646728515625,485.0299987792969,52.23337936401367,240.4499969482422
...,...,...,...,...,...,...,...
2024-12-24,257.91644287109375,229.0500030517578,197.34518432617188,438.4508361816406,932.1199951171875,140.2071075439453,462.2799987792969
2024-12-26,258.7355041503906,227.0500030517578,196.87571716308594,437.2332763671875,924.1400146484375,139.91712951660156,454.1300048828125
2024-12-27,255.30929565429688,223.75,193.81918334960938,429.66845703125,907.5499877929688,136.9973907470703,431.6600036621094
2024-12-30,251.9230194091797,221.3000030517578,192.47073364257812,423.9798583984375,900.4299926757812,137.47735595703125,417.4100036621094
2024-12-31,250.1449737548828,219.38999938964844,190.22328186035156,420.6565246582031,891.3200073242188,134.27764892578125,403.8399963378906

In [17]:
#Changing output of dataframe to float
print(portfolio.holdings['AAPL'])
print(type(float(prices_close_df['AAPL']['2024-01-02'])))
#print("Portfolio Value:", portfolio.get_portfolio_value(prices_close_df))

1.0
<class 'float'>

In [18]:
value = portfolio.get_portfolio_value(prices_close_df)
value

cal. Symbol: AAPL, Amount: 1.0
Value for AAPL: 250.1449737548828
cal. Symbol: MSFT, Amount: 1.0
Value for MSFT: 219.38999938964844
cal. Symbol: GOOG, Amount: 1.0
Value for GOOG: 190.22328186035156
cal. Symbol: AMZN, Amount: 1.0
Value for AMZN: 420.6565246582031
cal. Symbol: TSLA, Amount: 1.0
Value for TSLA: 891.3200073242188
cal. Symbol: NVDA, Amount: 1.0
Value for NVDA: 134.27764892578125
cal. Symbol: NFLX, Amount: 1.0
Value for NFLX: 403.8399963378906

2509.8524322509766

## Visualisations for the platform

In [19]:
#1. basic visualization of stock prices.